.sidebar {
    position: absolute;
    width: 200px;
    background-color: white;
    height: 100vh;
    z-index: 1;
    top: 0px;
    left: 0px;
    transform: translateX(-100%);
    transition: all 0.4s;

}

/* Added Trasnform Trasnform Property to Slide Sidebar  */
.sidebar-open {
    transform: translateX(0%);

}

/* Inside Slidebar Styling  */
.sidebarInside {
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
    align-items: center;
    text-align: center;
    box-shadow:  rgb(0 0 0 / 40%) 0px 2px 15px -3px;
    
}

.sidebarInside i {
    font-size: 28px;
    padding-top: 10px;
}

.sidebarInside p {
    color: black;
    font-size: 14px;
}


/* Button Style Code  */
.buttonStyle {
    border: none;
    background-color:rgb(24, 198, 131);
    padding: 6px 15px;
    border-radius: 25px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    box-shadow:  rgb(0 0 0 / 40%) 0px 2px 15px -3px;
    margin-top: 10px;
    
}


/* Addition class added to first div to show its is .selected by changing background  */
.selected {
    background-color: #f8f9fa;
    width: 100%;
    
}

