.footerTest {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 250px;
   
}

/* Footer Background Color  */
.footereSection {
    background: linear-gradient(to right, rgb(63, 81, 181), rgb(100, 181, 246)) rgb(255, 255, 255);
    height: 250px;
   
}

@media screen and (max-width : 768px )  {
    .footereSection {
        height : 400px
    }
}

/* Footer Content Layout */
.footer-content-section {
    
    width: 90%;
    margin: auto;
    padding-top: 35px;
    color: #ccdded;
    font-size: 14px;
    
}

/* Footer Content Heading  */
.footer-content-section h6 {
    font-weight: bold;
    color: white;
}


/* Footer First Section Listing Modify  */
.footer-content-section ul li {
    list-style: none;
    text-align: start;
    margin-left: -32px;
    font-size: 16px;
    
    
}


/* Footer Icon Styling   */
.footer-content-section i {
    margin-right: 10px;
    font-size: 20px;
}

.iconmargin {
    margin-bottom: 8px;
}

