/* To Remove Standard Margin and Padding from Winodow View */
body {
  padding: 0px;
  margin: 0px;
  font-family: Lato ,Helvetica Neue,Arial,Helvetica,sans-serif;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;

}








